/*
Syntax error: File to import not found or unreadable: config/fullsizeimages.
              Load path: /home/naeramarth7/dev/tt-rss/clean-greader/css (DEPRECATED)
        on line 14 of main.scss

9: **\/
10: 
11: /*******************
12:   * CONFIG IMPORTS *
13:   *******************\/
14: @import "config/fullsizeimages";
15: 
16: /*******************
17:   * MODULE IMPORTS *
18:   *******************\/
19: @import "modules/all";

Backtrace:
main.scss:14
/var/lib/gems/1.9.1/gems/sass-3.3.0.alpha.226/lib/sass/tree/import_node.rb:67:in `rescue in import'
/var/lib/gems/1.9.1/gems/sass-3.3.0.alpha.226/lib/sass/tree/import_node.rb:45:in `import'
/var/lib/gems/1.9.1/gems/sass-3.3.0.alpha.226/lib/sass/tree/import_node.rb:28:in `imported_file'
/var/lib/gems/1.9.1/gems/sass-3.3.0.alpha.226/lib/sass/tree/import_node.rb:37:in `css_import?'
/var/lib/gems/1.9.1/gems/sass-3.3.0.alpha.226/lib/sass/tree/visitors/perform.rb:218:in `visit_import'
/var/lib/gems/1.9.1/gems/sass-3.3.0.alpha.226/lib/sass/tree/visitors/base.rb:37:in `visit'
/var/lib/gems/1.9.1/gems/sass-3.3.0.alpha.226/lib/sass/tree/visitors/perform.rb:100:in `visit'
/var/lib/gems/1.9.1/gems/sass-3.3.0.alpha.226/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/var/lib/gems/1.9.1/gems/sass-3.3.0.alpha.226/lib/sass/tree/visitors/base.rb:53:in `map'
/var/lib/gems/1.9.1/gems/sass-3.3.0.alpha.226/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/var/lib/gems/1.9.1/gems/sass-3.3.0.alpha.226/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/var/lib/gems/1.9.1/gems/sass-3.3.0.alpha.226/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/var/lib/gems/1.9.1/gems/sass-3.3.0.alpha.226/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/var/lib/gems/1.9.1/gems/sass-3.3.0.alpha.226/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/var/lib/gems/1.9.1/gems/sass-3.3.0.alpha.226/lib/sass/tree/visitors/perform.rb:128:in `visit_root'
/var/lib/gems/1.9.1/gems/sass-3.3.0.alpha.226/lib/sass/tree/visitors/base.rb:37:in `visit'
/var/lib/gems/1.9.1/gems/sass-3.3.0.alpha.226/lib/sass/tree/visitors/perform.rb:100:in `visit'
/var/lib/gems/1.9.1/gems/sass-3.3.0.alpha.226/lib/sass/tree/visitors/perform.rb:7:in `visit'
/var/lib/gems/1.9.1/gems/sass-3.3.0.alpha.226/lib/sass/tree/root_node.rb:36:in `css_tree'
/var/lib/gems/1.9.1/gems/sass-3.3.0.alpha.226/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/var/lib/gems/1.9.1/gems/sass-3.3.0.alpha.226/lib/sass/engine.rb:359:in `_render_with_sourcemap'
/var/lib/gems/1.9.1/gems/sass-3.3.0.alpha.226/lib/sass/engine.rb:290:in `render_with_sourcemap'
/var/lib/gems/1.9.1/gems/sass-3.3.0.alpha.226/lib/sass/plugin/compiler.rb:337:in `update_stylesheet'
/var/lib/gems/1.9.1/gems/sass-3.3.0.alpha.226/lib/sass/plugin/compiler.rb:191:in `block in update_stylesheets'
/var/lib/gems/1.9.1/gems/sass-3.3.0.alpha.226/lib/sass/plugin/compiler.rb:188:in `each'
/var/lib/gems/1.9.1/gems/sass-3.3.0.alpha.226/lib/sass/plugin/compiler.rb:188:in `update_stylesheets'
/var/lib/gems/1.9.1/gems/sass-3.3.0.alpha.226/lib/sass/plugin/compiler.rb:274:in `block in watch'
/var/lib/gems/1.9.1/gems/listen-1.1.6/lib/listen/listener.rb:236:in `call'
/var/lib/gems/1.9.1/gems/listen-1.1.6/lib/listen/listener.rb:236:in `on_change'
/var/lib/gems/1.9.1/gems/listen-1.1.6/lib/listen/listener.rb:271:in `block in initialize_adapter'
/var/lib/gems/1.9.1/gems/listen-1.1.6/lib/listen/adapter.rb:244:in `call'
/var/lib/gems/1.9.1/gems/listen-1.1.6/lib/listen/adapter.rb:244:in `report_changes'
/var/lib/gems/1.9.1/gems/listen-1.1.6/lib/listen/adapter.rb:313:in `poll_changed_directories'
/var/lib/gems/1.9.1/gems/listen-1.1.6/lib/listen/adapter.rb:289:in `block in start_poller'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: File to import not found or unreadable: config/fullsizeimages.\A               Load path: /home/naeramarth7/dev/tt-rss/clean-greader/css (DEPRECATED)\A         on line 14 of main.scss\A \A 9: **/\A 10: \A 11: /*******************\A 12:   * CONFIG IMPORTS *\A 13:   *******************/\A 14: @import \"config/fullsizeimages\";\A 15: \A 16: /*******************\A 17:   * MODULE IMPORTS *\A 18:   *******************/\A 19: @import \"modules/all\";"; }
