# sublime files #
#################
*.sublime-project
*.sublime-workspace

# cached files #
################
*/.sass-cache

# other files #
###############
.Trash-1000

# config files #
################
css/config/_fullsizeimages.scss